.experiencias{
    padding-top:5px ;
}

.experiencias_titulo{
    margin: 15px 0 10px 20px;
    font-size: 20px;
    font-weight: 600;
    color: var(--texto-primario);
}

.experiencias__inicio{
    margin-left: 20px;
    display: grid;
    grid-template-columns: 48px auto;
    column-gap: 10px;
}

.experiencias__imagem{
    margin-bottom: 10px;
    grid-column: 1/2;
    grid-row: 1/3;
}

.experiencias__empresa{
    font-size: 16px;
    font-weight: 600;
    color: var(--texto-primario);
    grid-column: 2/3;
    grid-row: 1/2;
}

.experiencias__distancias{
    font-size: 14px;
    font-weight: 400;
    color: var(--texto-secundario);
    grid-column: 2/3 ;
    grid-row: 2/3;
}

.experiencias__lista{
    margin-left: 48px;
    padding-bottom: 20px;
    list-style: disc; 
}

.cargo{
    color: #D9D9D9;
}



li.cargo::before, li.cargo::after{
    content: "";
    position: absolute;
    transform: translate(-35px, 50%);
}
  
li.cargo::before{
    background-color: var(--texto-principal);
    width: 9px;
    height: 9px;
    border-radius: 50%;
}
  
li.cargo::after{
    background-color: var(--texto-secundario);
    left: 4px;
    top: -5%;
    width: 1px;
    height: 48px;
}
  
li.cargo:not(:last-child){
    margin-bottom: 8px;
}

.cargo h3{
    font-size: 16px;
    font-weight: 600;
    color: var(--texto-primario);
    margin-bottom: 5px;
}

.tipo-emprego{
    margin-bottom: 5px;
}

.duracao, .localizacao{
    font-size: 16px;
    font-weight: 400;
    color: var(--texto-secundario);
    margin-bottom: 5px;
}

.cargo span{
    display: block;
}
